<div [formGroup]="withdrawForm" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" placeholder="0" />
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button [disabled]="!withdrawForm.valid" mat-raised-button (click)="withdraw()"
                color="primary">Submit</button>
        </div>
        <div>
            <button mat-stroked-button (click)="cancelWithdraw()" color="warn">Cancel</button>
        </div>
    </div>
</div>