<div *ngIf="!validated" [formGroup]="validateForm" fxFlex="50">
    <mat-form-field appearance="fill">
        <mat-label>Card Number</mat-label>
        <input matInput type="number" formControlName="cardNumber" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pin</mat-label>
        <input matInput type="password" formControlName="pin" />
    </mat-form-field>
    <button mat-raised-button [disabled]="!validateForm.valid" (click)="validate()" color="primary">Next</button>
    <button mat-stroked-button (click)="cancelWithdraw()" color="warn">Cancel</button>
</div>

<div *ngIf="validated" [formGroup]="withdrawForm" fxFlex="50">
    <mat-form-field appearance="fill" >
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" placeholder="0" />
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>
    <button [disabled]="!withdrawForm.valid" mat-raised-button (click)="withdraw()" color="primary">Submit</button>
    <button mat-stroked-button (click)="cancelWithdraw()" color="warn">Cancel</button>
</div>