<div [formGroup]="validatePinForm" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill">
        <mat-label>Card Number</mat-label>
        <input matInput type="number" formControlName="cardNumber" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pin</mat-label>
        <input matInput type="password" formControlName="pin" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button mat-raised-button [disabled]="!validatePinForm.valid" (click)="validatePin()"
                color="primary">Next</button>
        </div>
        <div>
            <button mat-stroked-button (click)="cancelValidatePin()" color="warn">Cancel</button>
        </div>
    </div>
</div>