<div *ngIf="!isActionTaken">
    <div fxLayout="row" class="atm-container" fxLayoutAlign="center center" fxFlex="100%">
        <div>
            <button mat-raised-button (click)="actionTaken()" routerLink="/atm/change-pin" color="primary">
                Change Pin
            </button>
            <button [disabled]="true" mat-raised-button (click)="actionTaken()" routerLink="/atm/last-transaction" color="primary">
                Last Transaction
            </button>
        </div>
        <div>
            <button mat-raised-button (click)="actionTaken()" routerLink="/atm/withdraw" color="primary">
                Withdraw
            </button>
            <button mat-raised-button (click)="actionTaken()" routerLink="/atm/check-balance" color="primary">
                Check Balance
            </button>
        </div>
    </div>
</div>
<div *ngIf="isActionTaken">
    <router-outlet></router-outlet>
</div>