.atm-container {
  min-width: 550px;
}

.atm-container-xs {
  min-width: 400px;
}

.atm-mat-card-content {
  background-image: url('/assets/images/world-map.jpg');
  background-size: cover;
  height: 350px;
}