<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/atm" routerLinkActive="router-link-active">ATM</button>
        <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
            <button mat-button routerLink="/overview" routerLinkActive="router-link-active">Overview</button>
        </div>
        <button mat-icon-button aria-label="">
            <mat-icon>profile</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row fxHide.gt-xs>
        <div fxFlex fxLayout fxLayoutAlign="flex-start">
            <button mat-button routerLink="/overview" routerLinkActive="router-link-active">Overview</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>